<!-- news/template/auth/password_reset.html -->
{% extends "base.html" %}
{% block content %}

<h2>Reset Password</h2>

{% if token %}
<form method="POST">
    {% csrf_token %}

    <p>
        <label>New Password:</label>
        <input type="password" name="password">
    </p>

    <p>
        <label>Confirm Password:</label>
        <input type="password" name="confirm_password">
    </p>

    <button type="submit">Reset Password</button>
</form>
{% else %}

<p>Invalid or expired token.</p>
{% endif %}

{% endblock %}