<!-- news/templates/dashboards/editor_dashboard.html -->
{% extends "base.html" %}
{% block content %}

<h2>Editor Dashboard</h2>

<a href="{% url 'news:create_publisher' %}">Create Publisher</a>

<h3>Articles (Awaiting Review)</h3>

{% for article in articles %}

{% if not article.is_approved %}
<div class="article-card">
    <h3>{{ article.title }}</h3>
    <p>{{ article.body }}</p>
    
    <a href="{% url 'news:edit_article' article.id %}">Edit Article</a>
    
    <a href="{% url 'news:delete_article' article.id %}">Delete Article</a>
    
    <form method="POST" action="{% url 'news:approve_article' article.id %}">
        {% csrf_token %}
        <button type="submit">Approve</button>
    </form>
</div>
{% endif %}
{% empty %}
<p>No pending articles.</p>
{% endfor %}

<h3>Published & Approved Articles</h3>

{% for article in articles %}
{% if article.is_approved %}
<div class="article-card">
    <h3>{{ article.title }}</h3>
    <p>{{ article.body }}</p>
    
    <a href="{% url 'news:edit_article' article.id %}">Edit Article</a>
    
    <a href="{% url 'news:delete_article' article.id %}">Delete Article</a>
</div>
{% endif %}
{% empty %}
<p>No approved articles yet.</p>
{% endfor %}

<h3>Newsletters</h3>

{% for newsletter in newsletters %}

<div class="article-card">
    <h3>{{ newsletter.title }}</h3>

    <p><strong>Curated Articles inside the Newsletter:</strong></p>
    <ul>
        {% for article in newsletter.articles.all %}
        <li>{{article.title }}</li>
        {% empty %}
        <li>No articles added to this newsletter yet.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'news:edit_newsletter' newsletter.id %}">Edit Newsletter</a>
    
    <a href="{% url 'news:delete_newsletter' newsletter.id %}">Delete Newsletter</a>
</div>
{% empty %}
<p>No newsletters.</p>
{% endfor %}

{% endblock %}