<!-- news/templates/dashboards/journalist_dashboard.html -->
{% extends "base.html" %}
{% block content %}

<h2>Journalist Dashboard</h2>

<h3>Your Articles</h3>

{% for article in articles %}
<div class="article-card">
    <h3>{{ article.title }}</h3>
    <p>{{ article.body }}</p>
    
    <a href="{% url 'news:edit_article' article.id %}">Edit Article</a>
    
    <a href="{% url 'news:delete_article' article.id %}">Delete Article</a>
</div>

{% empty %}

<p>No articles yet.</p>
{% endfor %}

<h3>Your Newsletters</h3>

{% for newsletter in newsletters %}
<div class="article-card">
    <h3>{{ newsletter.title }}</h3>
    <p><strong>Curated Collection:</strong></p>
    <ul>
        {% for article in newsletter.articles.all %}
        <li>{{ article.title }}</li>
        {% empty %}
        <li>No articles added to this newsletter yet.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'news:edit_newsletter' newsletter.id %}">Edit Newsletter</a>
    
    <a href="{% url 'news:delete_newsletter' newsletter.id %}">Delete Newsletter</a>
</div>

{% empty %}

<p>No newsletters yet.</p>
{% endfor %}

{% endblock %}