<!-- news/templates/base.html -->
 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {% block title %}
            Litha News Network
            {% endblock title %}
        </title>
        <!-- Add CSS links or stylesheets here -->
        <link rel="stylesheet" href="{% static 'news/style.css' %}"/>
    </head>
    <body>
        <header>
            <h1>
                {% block header %}
                LNN
                {% endblock header %}
            </h1>
            <!-- Add navigation links or other header content here -->
             <nav>
                {%if user.is_authenticated %}
                
                <a href="{% url 'news:home' %}">Dashboard</a>
                
                {% if user.role == "reader" %}
                <a href="{% url 'news:reader_dashboard' %}">Articles</a>
                {% endif %}
                
                {% if user.role == "journalist" %}
                <a href="{% url 'news:create_article' %}">Create Article</a>
                <a href="{% url 'news:create_newsletter' %}">Create Newsletter</a>
                {% endif %}
                
                {% if user.role == "editor" %}
                <a href="{% url 'news:review_articles' %}">Review Articles</a>
                {% endif %}
                
                <a href="{% url 'news:logout' %}">Logout</a>
                {% else %}
                
                <a href="{% url 'news:login' %}">Login</a>
                
                <a href="{%url 'news:register'%}">Register</a>
                
                {% endif %}
            </nav>
        </header>
        <main class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        
        {% block content %}
        {% endblock %}
        </main>
    </body>
 </html>
